*{
    box-sizing: border-box;
}


body{
    height: 100vh;
    margin: 0;
    background-image: url('pexels-riccardo-bertolo-4245826.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.flex-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro-page{
    height: 100vh;
    text-align: center;
}

.intro-page > h1{
    font-family: 'Poiret One', cursive;
    margin: 5px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}

.intro-page > .animate__rubberBand{
    animation-delay: 1000ms;
}

.intro-page > .animate__tada{
    animation-delay: 1800ms;
}

.intro-page > .animate__heartBeat{
    animation-delay: 2500ms;
}

.feedback-container > .animate__heartBeat{
    animation-delay: 0ms;
}

.animate__heartBeat{
    animation-delay: 3000ms;
}

.start{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: gainsboro;
    width: 250px;
    height: 120px;
    background-color: rgba(0,0,0,0.6);
    border: 5px solid rgba(0,0,0,0.8);
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}

.start:hover{
    background-color: rgba(0,0,0, 0.8);
}

.player-names > input{
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
    color: gainsboro;
}

.player-names > button{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: gainsboro;
    width: 150px;
    height: 50px;
    background-color: rgba(0,0,0,0.6);
    border: 5px solid rgba(0,0,0,0.8);
    border-radius: 10px;
    font-size: 20px;
}

.player-names > button:hover{
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.main-content{
    height: 100vh;
    /* grid-gap: 3px; */
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px 6fr 50px;
    grid-template-areas: 
        "hdr hdr"
        "aside main"
        "ftr ftr";
}

header{
    grid-area: hdr;
    margin-bottom: 3px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}

aside{
    grid-area: aside;
    background-color: rgba(0,0,0,0.6);
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#my-side-panel > h2{
    text-decoration: underline;
    margin-bottom: 20px;
}

#my-side-panel > p{
    padding: 10px;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 10px;
}

main{
    grid-area: main;
    background-color: rgba(0,0,0,0.6);
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 65%;
    margin: 0 auto;
}

.flex-container > .question{
    background-color: rgba(0, 0, 128, 0.9);
    color: white;
}

.flex-container-row{
    display: flex;
    flex-direction: column;
    /* background-color: plum; */
    height: 100%;
}

.question{
    height: 25%;
    justify-content: center;
    padding: 20px 5px 5px 20px;
    font-size: 25px;
    font-weight: bold;
}

.options{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 206, 235, 0.9);
}

.feedback-container{
    width: 100%;
    height: 100%;
}

.feedback-message-correct{
    width: 100%;
    height: 100%;
    background-color: rgba(173,255,47, 0.9);
    /* font-family: 'Poiret One', cursive; */
    font-weight: bold;
}

.feedback-message-incorrect{
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0, 0.9);
    /* font-family: 'Poiret One', cursive; */
    font-weight: bold;
}

.opt,.submit-answer{
    margin: 10px 0px 10px 20px;
    cursor: pointer;
}

.opt,.submit-answer:hover{
    margin: 10px 0px 10px 20px;
    cursor: pointer;
    background-color: rgba(173,255,47, 1)
}

.player-names > div{
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 5px 30px 0 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.player-scores > div{
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 0 30px;
    border-radius: 5px;
    background-color: gainsboro;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: ftr;
    background-color: rgba(0,0,0,0.6);
    text-align: right;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255, 0.7);
}

.conclude{
    height: 100vh;
}

.conclude > h1{
    font-family: 'Poiret One', cursive;
    margin: 5px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    color: white;
}

.conclude > button{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: gainsboro;
    width: 150px;
    height: 50px;
    background-color: rgba(0,0,0,0.6);
    border: 5px solid rgba(0,0,0,0.8);
    border-radius: 10px;
    font-size: 20px;
}

.conclude > button:hover{
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}


.hide-content{
    display: none;
}





/* The sidepanel menu */
.side-panel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the - */
  }
  
  /* The - links */
  .side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .side-panel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .side-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebtn{
    cursor: pointer;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }